ul {
    list-style: none;
}
a {
   color: #000;
} 
.container {
   margin-left: 80px;
}
header{
    border-bottom: 1px solid #EBE8F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logotipe {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    margin-right: 149px;
}
.header-nav-item {
    padding-right: 281px;
}
.header-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 44px;
}
.header-item-link {
    color: #726E8D;
    font-family: Open Sans;
}
.header-icon {
    display: inline-flex;
    justify-content: space-between;
}
.header-icon-link {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
.search {
    background-image: url(../images/Search.png);
}
.Shopping-cart {
    background-image: url(../images/Shopping\ cart.png);
}
.User-avatar {
    background-image: url(../images/Useravatar.png);
} 
.page-title {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
}
.main-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: space-between;
    list-style-type: none; 
    gap: 12px;
    margin: 0;
}
.filter-item-select {
    border: 0;
    background-color: #fff;
}
.filter-item {
    padding: 12px 24px 12px 24px;
    color: #2A254B;
    font-family: Open Sans;
    line-height: 150%;
}
.select-text {
    margin-right: 40px;
}
.data-select {
    margin-right: 104px;
}
.main-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin-top: 0;
    margin-right: 80px;
}
.main-item-link img {
    width: 100%;
    object-fit: cover;
}
.card-image {
    width: 305px;
    height: 375px;
}
.product-name {
    display: inline-block;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 140%;
    margin-top: 24px;
}
.price {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 150%; 
    margin-top: 8px;
    margin-bottom: 20px;
}
.button {
    display: block;
    margin-top: 48px;
    border-radius: 0%;
    padding: 16px 32px;
    background-color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    color: #2A254B;
    font-family: Open Sans;
    line-height: 150%;
    border-style: none;
}
.subtitle-block {
    padding-left: 50%;
    margin-top: 40px;
    background-image: url(../images/sofa.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
}
.subtitle {
    color: #2A254B;
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    padding-top: 71px;
    padding-left: 49px;
}
.subtitle-desk {
    margin-top: 21px;
    text-align: left;
    color: #2A254B;
    font-family: Open Sans;
    line-height: 150%;
    padding-left: 49px;
}
.registration {
    margin-top: 216px;
    margin-bottom: 70px;
    color: #FFF;
    font-family: Open Sans;
    line-height: 150%;
    padding: 16px 32px;
    border-radius: 0;
    background: #2A254B;
    margin-left: 72px;
    border: none;
}
.foot {
    background: #2A254B;
    color: #fff;
}
.foot-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.foot-list-section {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 58px;
    padding-left: 82px;
 }
.foot-list-title {
    color: #FFF;
    font-family: Montserrat;
    font-weight: 400;
}
.foot-item-link {
    color: #fff;
}
.foot-img {
    width: 90%;
    margin-top: 60px;
    margin-right: 78px;
    margin-bottom: 57px;
    object-fit: cover;
}
.foot-social p {                       
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
}
.foot-social {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: 80px;
    margin-right: 80px;
    border-top: 1px solid #4E4D93;
}
.social-link {
    display: flex;
    gap: 24px; 
}
